.img-sec img {
    background: linear-gradient(to right, #fce6f5, #c7e8ff);
	border-radius: 12rem 12rem 4rem 4rem;
	height: 30rem;
	overflow: hidden;
	margin-top: 4rem;
	margin-bottom: 4rem;
	box-shadow: 2px 5px 10px #000;

}

.ptag{
    box-shadow: 2px 5px 10px #000;  
    background: linear-gradient(to right, #fce6f5, #c7e8ff);
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    line-height: 60px;
    
}