.img-sec img {
    /* background: linear-gradient(to right, #fce6f5, #c7e8ff); */
	border-radius: 12rem 12rem 0 0;
	height: 30rem;
	overflow: hidden;
	margin-top: 4rem;

	box-shadow: 2px 5px 10px #000;

}

.ptag{
   
    /* background: linear-gradient(to right, #fce6f5, #c7e8ff); */
    border-radius: 10px;
   


    
}