.img-sec img {
    /* background: linear-gradient(to right, #fce6f5, #c7e8ff); */
	border-radius: 12rem 12rem 0 0;

	overflow: hidden;
	margin-top: 4rem;
	height: 400px;
	box-shadow: 2px 5px 10px #000;

}

