/* .skill-slide{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 200px auto;
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;
    box-shadow: 2px 5px 10px #000;
}

.skill-slide span{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i)*45deg)) translateZ(350px);
    
}
.skill-slide span img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    border-radius:2rem 4rem 10rem 10rem;
    transition: 2s;
    left: 50%;
    top: 50%;
    box-shadow: 2px 5px 10px #000;
    transform: translate(-50%, -50%);
  }





@keyframes rotate{
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
} */


  
 
  
.container {
    max-width: 124rem;
    padding: 4rem 1rem;
    margin: 0 auto;
  }
  
  .swiper_container {
    height: 70vh;
    padding: 2rem 0;
    position: relative;
  }
  
  .swiper-slide {
    max-width: 37rem;
    height: 42rem;
    position: relative;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    object-fit: cover;
    
  }

  @media screen and (max-width: 768px) {
    .swiper-slide img {
    
      padding: 0;
      margin: 0;
    }
 
  }
  /* <span className={`rounded-full px-3 py-1.5 mt-5 font-bold items-center text-center border hover:bg-indigo-500 hover:text-white`}> */
  
  .slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider-controler .swiper-button-next,
  .slider-controler .swiper-button-prev {
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
  
  .slider-controler .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .slider-controler .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
  }
  
  .slider-controler .slider-arrow::after {
    content: '';
  }
  
  .swiper-pagination {
    position: relative;
    width: 15rem !important;
    bottom: 1rem;
  }
  
  .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
  }
  