.box-cover{
    height: 500px;

    background-color: #000;
    background-position: top;
    transition: ease-in-out 8s;   

    margin-bottom: 10px;
}




/* 1st box */

.box{
    background: url('https://i.ibb.co/c6pnS5x/Screen-Shot-2023-06-29-at-01-36-40.png');
    background-size: cover;
    box-shadow: 2px 5px 10px #000;
}
.box:hover{
    background-position: bottom;

    /* 2nd Box */
}
.box1{
    background: url('https://i.ibb.co/j3HxrdG/Screen-Shot-2023-06-29-at-02-05-50.png');
    background-size: cover;
    box-shadow: 2px 5px 10px #000;
}
.box1:hover{
    background-position: bottom;
}

/* 3rd box */

.box2{
    background: url('https://i.ibb.co/Z8k8kX8/Screen-Shot-2023-06-29-at-02-17-24.png');
    background-size: cover;
    box-shadow: 2px 5px 10px #000;
}
.box2:hover{
    background-position: bottom;
}

.card{
    box-shadow: 2px 5px 10px #000;  
}




 


